.hidden {
  display: none;
}

#loader {
  height: 17vh;
  width: auto;
}

#loading {
  width: 100%;
  height: 400vh!important;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(35px)!important;
  -webkit-backdrop-filter: blur(35px)!important;
  z-index: 5!important;
  position: fixed;
  top: 0;
}

