#carousel-t {
  background-color: #fff;
}

#carousel-t .testimonial-content {
  margin-top: 15px;
}

#carousel-t .carousel-control-next, .carousel-control-prev {
  width: 13%;
}

#carousel-t .carousel-control-prev {
  background: -webkit-linear-gradient(left, rgba(255,0,0,0) 70%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgb(255,255,255) 70%,rgba(255,255,255,0) 100%);
  opacity: 1;
}

#carousel-t .carousel-control-next {
  background: -webkit-linear-gradient(right, rgba(255,0,0,0) 70%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to left, rgb(255,255,255) 70%,rgba(255,255,255,0) 100%);
  opacity: 1;
}

#carousel-t .carousel-indicators .active {
  opacity: .5;
}

#carousel-t .carousel-indicators {
  position: relative;
  padding-bottom: 10px;
}

#carousel-t .signature {
  font-size: 24px;
  font-style: normal;
  font-family: 'Roboto Condensed', Arial, Sans;
  font-weight: 700;
  margin: 0;
}

#carousel-t .date {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

#carousel-t p {
  font-size: 18px;
  font-family: 'Roboto Condensed', Arial, Sans;
}

#carousel-t .rating {
  background-color: #2d80ff;
  width: 56px;
  display: block;
  margin: 15px auto;
  color: white;
  border-radius: 25px;
}

